<div class="container">
    <div class="body">
        <h2 class="text-center mb-2 p-3">Add new good</h2>
        <form #f="ngForm" (ngSubmit)="addNewGood(f)">
            <div class="input mb-2">
                <input type="text" class="form-control" name="name" ngModel placeholder="name" required>
            </div>
            <div class="input mb-2">
                <input type="number" class="form-control" name="price" ngModel placeholder="price" required>
            </div>
            <div class="input mb-2">
                <input type="file" name="image" ngModel required #image>
            </div>
            <button [disabled]="f.invalid" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>